extends layout

block content
  h2= title
  p(class="indented") Welcome to my website. Please leave a suggestion.
  br
  input(type="text" class="button" id="comment" placeholder="enter a comment")
  br
  input(type="submit" class="button" onclick="addcomment()" value="submit")