extends layout

block content
	h2 Platform Game
	p
	div(id='container')
		canvas(id="canvas1" width="400px" height="400px")
	br
	script(src="https://cdn.skypack.dev/matter-js" type="module")
	script(src="https://cdn.skypack.dev/mathjs" type="module")
	script(src='https://cdn.jsdelivr.net/gh/liabru/matter-js@014ef77d1e30b44cb65098c0efc9c9d623a40496/build/matter.js')
	script(src="https://cdn.jsdelivr.net/gh/liabru/matter-tools@d31e212a046b3f8279124aaa43589d27c20d261d/build/matter-tools.demo.js") 
	script(src="https://cdn.jsdelivr.net/gh/liabru/matter-wrap@81b2adf1bb970245f5d964ddda0db71c1ff8aa43/build/matter-wrap.js") 
	script(src="/javascripts/ragdoll.js")
	script(src="/javascripts/platform_game.js") 